{% extends 'base/base.html' %}
{% block title %}{{ titre }}{% endblock %}
{% block page_title %}{{ titre }}{% endblock %}
{% block content %}
<div class="row justify-content-center"><div class="col-lg-7"><div class="card"><div class="card-body p-4">
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="row g-3">
    {% for field in form %}
    <div class="col-md-6"><label class="form-label">{{ field.label }}</label>{{ field }}</div>
    {% endfor %}
  </div>
  <div class="d-flex gap-2 mt-4">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{% url 'employes:liste' %}" class="btn btn-outline-secondary">Annuler</a>
  </div>
</form>
</div></div></div></div>
{% endblock %}
